html {
	background-color: #ddd; 
	font-family: 'Open Sans Light',sans-serif;
}

ul {

	list-style-type: none;
	font-size: 1em;	
	color:#001;
}

button {
	color: #f00;
	padding: 6px;
	margin-right: 8px;	
}
header {
	
	background-image: url("/img/todo.jpeg");
	background-repeat: no-repeat;
	background-size:120px 80px; 
	padding: 1px;
	text-align: center;
	background-color: #fff;
	color: #000;
}
h3 {
	color: #55f;
	text-decoration: underline;
}
label {
	color:#006;
}
