html {
	background-color: #ddd; 
	font-family: 'Open Sans Light',sans-serif;
	margin-bottom: 0;
}
div {

	background-image: url("/img/graph.jpeg");
	background-repeat: repeat;

}
ul {

	list-style-type: none;
	font-size: 1em;	
	color:#001;
}

button {
	color: #f00;
	padding: 6px;
	margin-right: 8px;	
}
#item {
	width: 500px;
}
header {
	background-image: url("/img/todo.jpeg");
	opacity: 0.7;
	background-repeat: repeat-x;
	background-size:120px 80px; 
	text-align: center;
	background-color: #ddd;
	color: #000;
	padding: 1px;
}
h3 {
	color: #55f;
}
label {
	color:#006;
}